<?xml version="1.0"?>
<configuration>
	<property>
		<name>pointsNumber</name>
		<value>1000</value>
	</property>
	<property>
		<name>clustersNumber</name>
		<value>3</value>
	</property>
	<property>
		<name>reducersNumber</name>
		<value>1</value>
	</property>
	<property>
		<name>threshold</name>
		<value>0.001</value>
	</property>
	<property>
		<name>maxIterations</name>
		<value>3</value>
	</property>
</configuration>
