<?xml version="1.0"?>
<configuration>
    <property>
        <name>points_number</name>
        <value>1000</value>
        <final>true</final>
    </property>

    <property>
        <name>clusters_number</name>
        <value>4</value>
        <final>true</final>
    </property>

    <property>
        <name>reducers_number</name>
        <value>1</value>
        <final>true</final>
    </property>

    <property>
        <name>threshold</name>
        <value>0.1</value>
        <final>true</final>
    </property>

    <property>
        <name>max_iterations</name>
        <value>50</value>
        <final>true</final>
    </property>

</configuration>